# ASSOCIATION RULE LEARNING (BİRLİKTELİK KURALI ÖĞRENİMİ)



## 1. Veri Ön İşleme
## 2. ARL Veri Yapısını Hazırlama (Invoice-Product Matrix)
## 3. Birliktelik Kurallarının Çıkarılması
## 4. Çalışmanın Scriptini Hazırlama
## 5. Sepet Aşamasındaki Kullanıcılara Ürün Önerisinde Bulunmak


## Bir e-ticaret şirketi müşterilerini segmentlere ayırıp bu segmentlere göre pazarlama stratejileri belirlemek istiyor.
 

## Veri Seti Hikayesi

### https://archive.ics.uci.edu/ml/datasets/Online+Retail+II

### Online Retail II isimli veri seti İngiltere merkezli online bir satış mağazasının 01/12/2009 - 09/12/2011 tarihleri arasındaki satışlarını içeriyor.

## Değişkenler

### InvoiceNo: Fatura numarası. Her işleme yani faturaya ait eşsiz numara. C ile başlıyorsa iptal edilen işlem.
### StockCode: Ürün kodu. Her bir ürün için eşsiz numara.
### Description: Ürün ismi
### Quantity: Ürün adedi. Faturalardaki ürünlerden kaçar tane satıldığını ifade etmektedir.
### InvoiceDate: Fatura tarihi ve zamanı.
### UnitPrice: Ürün fiyatı (Sterlin cinsinden)
### CustomerID: Eşsiz müşteri numarası
### Country: Ülke ismi. Müşterinin yaşadığı ülke.

In [6]:
############################################
# 1. Veri Ön İşleme
############################################
import pandas as pd
import warnings
warnings.simplefilter(action="ignore")
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
# çıktının tek bir satırda olmasını sağlar.
pd.set_option('display.expand_frame_repr', False)
from mlxtend.frequent_patterns import apriori, association_rules

In [15]:
df_ = pd.read_excel("../datasets/online_retail_II.xlsx",
                    sheet_name="Year 2010-2011")
df = df_.copy()
df.head()

  Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1  536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom

In [9]:
df.describe().T
# Quantity ve price değerleri negatif olamaz bunu düzelticez
#Quantity ve Price değişkenlerinde aykırılık var

                count          mean          std       min       25%       50%       75%      max
Quantity     541910.0      9.552234   218.080957 -80995.00      1.00      3.00     10.00  80995.0
Price        541910.0      4.611138    96.759765 -11062.06      1.25      2.08      4.13  38970.0
Customer ID  406830.0  15287.684160  1713.603074  12346.00  13953.00  15152.00  16791.00  18287.0

In [11]:
df.isnull().sum()
#Eksik değerler var

Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [12]:
df.shape
#Veri setindeki gözlem sayısı fazla olduğu için eksik değerleri droplayabiliriz

(541910, 8)

In [37]:
#Eksik değerleri ve mantık dışı değerleri veri setinden droplayalım
def retail_preproccesing(dataframe):
    dataframe.dropna(inplace=True)
    dataframe=dataframe[~dataframe["Invoice"].str.contains("C",na=False)]
    dataframe=dataframe[dataframe["Quantity"]>0]
    dataframe=dataframe[dataframe["Price"]>0]
    return dataframe
df=retail_preproccesing(df)

In [20]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [21]:
df.describe().T

                count          mean          std        min       25%       50%       75%       max
Quantity     397885.0     12.988208   179.331551      1.000      2.00      6.00     12.00  80995.00
Price        397885.0      3.116525    22.097861      0.001      1.25      1.95      3.75   8142.75
Customer ID  397885.0  15294.416882  1713.144421  12346.000  13969.00  15159.00  16795.00  18287.00

In [22]:
# Aykırı değerleri tespit etmek ve baskılamak için aşağıda tanımladığımız fonksiyonları kullanacağız
def outlier_thresholds(dataframe, col_name, q1=0.25, q3=0.75):
    quartile1 = dataframe[col_name].quantile(q1)
    quartile3 = dataframe[col_name].quantile(q3)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable, q1=0.25, q3=0.75):
    low_limit, up_limit = outlier_thresholds(dataframe, variable, q1, q3)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit


def check_outlier(dataframe, col_name, q1=.25, q3=.75):
    low_limit, up_limit = outlier_thresholds(dataframe, col_name, q1, q3)
    if dataframe[(dataframe[col_name] > up_limit) | (dataframe[col_name] < low_limit)].any(axis=None):
        return True
    else:
        return False

In [38]:
for col in ["Price","Quantity"]:
    if(check_outlier(df,col,q1=0.01,q3=0.99)):
        print("There are outliers in {}".format(col))
    else:
        print("There is no outliers in {}".format(col))

There are outliers in Price
There are outliers in Quantity

In [41]:
for col in ["Price","Quantity"]:
    replace_with_thresholds(df,col,q1=0.01,q3=0.99)
#Aykırı değerleri baskıladıktan sonra

for col in ["Price","Quantity"]:
    if(check_outlier(df,col,q1=0.01,q3=0.99)):
        print("There are outliers in {}".format(col))
    else:
        print("There is no outliers in {}".format(col))

There is no outliers in Price
There is no outliers in Quantity

In [42]:
df.describe().T
#Aykırı değerleri bir nebze baskıladık

                count          mean          std        min       25%       50%       75%       max
Quantity     397885.0     11.830770    25.523052      1.000      2.00      6.00     12.00    298.50
Price        397885.0      2.893492     3.227175      0.001      1.25      1.95      3.75     37.06
Customer ID  397885.0  15294.416882  1713.144421  12346.000  13969.00  15159.00  16795.00  18287.00

In [43]:
############################################
# 2. ARL Veri Yapısını Hazırlama (Invoice-Product Matrix)
############################################

In [45]:
df.head()

  Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER       6.0 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1  536365     71053                  WHITE METAL LANTERN       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER       8.0 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom

In [44]:
# Description   NINE DRAWER OFFICE TIDY   SET 2 TEA TOWELS I LOVE LONDON    SPACEBOY BABY GIFT SET
# Invoice
# 536370                   0                             1                              0
# 536852                   1                             0                              1
# 536974                   0                             0                              0
# 537065                   1                             0                              0
# 537463                   0                             0                              1
# Bizim elde etmek istediğimiz format yukardaki gibi olacak

In [54]:
#Veri setindeki gözlem sayısı çok fazla olduğundan veri setini bir ülkeye indirgeyelim
df_fr=df[df["Country"]=="France"]
df_fr

       Invoice StockCode                      Description  Quantity         InvoiceDate  Price  Customer ID Country
26      536370     22728        ALARM CLOCK BAKELIKE PINK      24.0 2010-12-01 08:45:00   3.75      12583.0  France
27      536370     22727        ALARM CLOCK BAKELIKE RED       24.0 2010-12-01 08:45:00   3.75      12583.0  France
28      536370     22726       ALARM CLOCK BAKELIKE GREEN      12.0 2010-12-01 08:45:00   3.75      12583.0  France
29      536370     21724  PANDA AND BUNNIES STICKER SHEET      12.0 2010-12-01 08:45:00   0.85      12583.0  France
30      536370     21883                 STARS GIFT TAPE       24.0 2010-12-01 08:45:00   0.65      12583.0  France
...        ...       ...                              ...       ...                 ...    ...          ...     ...
541905  581587     22899     CHILDREN'S APRON DOLLY GIRL        6.0 2011-12-09 12:50:00   2.10      12680.0  France
541906  581587     23254    CHILDRENS CUTLERY DOLLY GIRL        4.0 2011-12-09 12:50:00   4.15      12680.0  France
541907  581587     23255  CHILDRENS CUTLERY CIRCUS PARADE       4.0 2011-12-09 12:50:00   4.15      12680.0  France
541908  581587     22138    BAKING SET 9 PIECE RETROSPOT        3.0 2011-12-09 12:50:00   4.95      12680.0  France
541909  581587      POST                          POSTAGE       1.0 2011-12-09 12:50:00  18.00      12680.0  France

[8342 rows x 8 columns]

In [55]:
df_fr.groupby(['Invoice', 'Description']).agg({"Quantity": "sum"}).head(20)

                                             Quantity
Invoice Description
536370   SET 2 TEA TOWELS I LOVE LONDON          24.0
        ALARM CLOCK BAKELIKE GREEN               12.0
        ALARM CLOCK BAKELIKE PINK                24.0
        ALARM CLOCK BAKELIKE RED                 24.0
        CHARLOTTE BAG DOLLY GIRL DESIGN          20.0
        CIRCUS PARADE LUNCH BOX                  24.0
        INFLATABLE POLITICAL GLOBE               48.0
        LUNCH BOX I LOVE LONDON                  24.0
        MINI JIGSAW CIRCUS PARADE                24.0
        MINI JIGSAW SPACEBOY                     24.0
        MINI PAINT SET VINTAGE                   36.0
        PANDA AND BUNNIES STICKER SHEET          12.0
        POSTAGE                                   3.0
        RED TOADSTOOL LED NIGHT LIGHT            24.0
        ROUND SNACK BOXES SET OF4 WOODLAND       24.0
        SET/2 RED RETROSPOT TEA TOWELS           18.0
        SPACEBOY LUNCH BOX                       24.0
        STARS GIFT TAPE                          24.0
        VINTAGE HEADS AND TAILS CARD GAME        24.0
        VINTAGE SEASIDE JIGSAW PUZZLES           12.0

In [56]:
df_fr.groupby(['Invoice', 'Description']).agg({"Quantity": "sum"}).unstack().fillna(0).iloc[0:5,0:5]

                                  Quantity
Description  50'S CHRISTMAS GIFT BAG LARGE  DOLLY GIRL BEAKER  I LOVE LONDON MINI BACKPACK  NINE DRAWER OFFICE TIDY  SET 2 TEA TOWELS I LOVE LONDON
Invoice
536370                                 0.0                0.0                          0.0                      0.0                             24.0
536852                                 0.0                0.0                          0.0                      0.0                              0.0
536974                                 0.0                0.0                          0.0                      0.0                              0.0
537065                                 0.0                0.0                          0.0                      0.0                              0.0
537463                                 0.0                0.0                          0.0                      0.0                              0.0

In [58]:
df_fr.groupby(['Invoice', 'Description']).agg({"Quantity": "sum"}).unstack(). \
fillna(0). \
applymap(lambda x: 1 if x>0 else 0). \
iloc[0:5,0:5]
# Veri setini istediğimiz hale getirdik

                                  Quantity
Description  50'S CHRISTMAS GIFT BAG LARGE  DOLLY GIRL BEAKER  I LOVE LONDON MINI BACKPACK  NINE DRAWER OFFICE TIDY  SET 2 TEA TOWELS I LOVE LONDON
Invoice
536370                                   0                  0                            0                        0                                1
536852                                   0                  0                            0                        0                                0
536974                                   0                  0                            0                        0                                0
537065                                   0                  0                            0                        0                                0
537463                                   0                  0                            0                        0                                0

In [61]:
#Yaptığımız işi fonksiyonlaştıralım
# id değişkenine true verirsek description yerine id kullanır
def create_invoice_product_df(dataframe, id=False):
    if id:
        return dataframe.groupby(['Invoice', "StockCode"])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)
    else:
        return dataframe.groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)
fr_inv_pro_df = create_invoice_product_df(df_fr,True)
fr_inv_pro_df.iloc[0:5,0:5]

StockCode  10002  10120  10125  10135  11001
Invoice
536370         1      0      0      0      0
536852         0      0      0      0      0
536974         0      0      0      0      0
537065         0      0      0      0      0
537463         0      0      0      0      0

In [62]:
# ID lerin karşılık geldiği ürünleri görmek için
def check_id(dataframe, stock_code):
    product_name = dataframe[dataframe["StockCode"] == stock_code][["Description"]].values[0].tolist()
    print(product_name)


check_id(df_fr, 10120)

['DOGGY RUBBER']

In [63]:
############################################
# 3. Birliktelik Kurallarının Çıkarılması
############################################

In [65]:
frequent_itemsets=apriori(fr_inv_pro_df,
                         min_support=0.01,
                         use_colnames=True)
frequent_itemsets.sort_values("support", ascending=False)

        support                                           itemsets
538    0.773779                                             (POST)
387    0.187661                                            (23084)
107    0.179949                                            (21731)
243    0.172237                                            (22554)
245    0.169666                                            (22556)
...         ...                                                ...
18793  0.010283                       (22729, 21086, 22326, 22551)
18787  0.010283                       (23256, 21086, 22492, 22326)
18786  0.010283                       (22728, 21086, 22492, 22326)
18785  0.010283                       (21086, 22492, 22326, 22727)
40654  0.010283  (22659, 23206, 22726, 22727, 22728, 20750, 223...

[40655 rows x 2 columns]

In [66]:
rules=association_rules(frequent_itemsets,
                       metric="support",
                       min_threshold=0.01)
rules

        antecedents                                        consequents  antecedent support  consequent support   support  confidence       lift  leverage  conviction
0           (10002)                                            (21791)            0.020566            0.028278  0.010283    0.500000  17.681818  0.009701    1.943445
1           (21791)                                            (10002)            0.028278            0.020566  0.010283    0.363636  17.681818  0.009701    1.539111
2           (10002)                                            (21915)            0.020566            0.069409  0.010283    0.500000   7.203704  0.008855    1.861183
3           (21915)                                            (10002)            0.069409            0.020566  0.010283    0.148148   7.203704  0.008855    1.149771
4           (10002)                                            (22551)            0.020566            0.136247  0.010283    0.500000   3.669811  0.007481    1.727506
...             ...                                                ...                 ...                 ...       ...         ...        ...       ...         ...
1372699     (23254)  (22659, 23206, 22726, 22727, 22728, 20750, 223...            0.071979            0.010283  0.010283    0.142857  13.892857  0.009543    1.154670
1372700     (22326)  (22659, 23206, 22726, 22727, 22728, 20750, 223...            0.159383            0.010283  0.010283    0.064516   6.274194  0.008644    1.057974
1372701     (21558)  (22659, 23206, 22726, 22727, 22728, 20750, 223...            0.051414            0.010283  0.010283    0.200000  19.450000  0.009754    1.237147
1372702     (23291)  (22659, 23206, 22726, 22727, 22728, 20750, 223...            0.041131            0.010283  0.010283    0.250000  24.312500  0.009860    1.319623
1372703     (23199)  (22659, 23206, 22726, 22727, 22728, 20750, 223...            0.066838            0.010283  0.010283    0.153846  14.961538  0.009595    1.169666

[1372704 rows x 9 columns]

In [67]:
rules[(rules["support"]>0.05) & (rules["confidence"]>0.1) & (rules["lift"]>5)].sort_values("confidence",ascending=False)

                 antecedents    consequents  antecedent support  consequent support   support  confidence      lift  leverage  conviction
23707         (21080, 21094)        (21086)            0.102828            0.138817  0.100257    0.975000  7.023611  0.085983   34.447301
23706         (21080, 21086)        (21094)            0.102828            0.128535  0.100257    0.975000  7.585500  0.087040   34.858612
108822  (POST, 21080, 21094)        (21086)            0.084833            0.138817  0.082262    0.969697  6.985410  0.070486   28.419023
108820  (POST, 21080, 21086)        (21094)            0.084833            0.128535  0.082262    0.969697  7.544242  0.071358   28.758355
1777                 (21094)        (21086)            0.128535            0.138817  0.123393    0.960000  6.915556  0.105550   21.529563
...                      ...            ...                 ...                 ...       ...         ...       ...       ...         ...
7212                 (22629)        (22630)            0.125964            0.100257  0.071979    0.571429  5.699634  0.059351    2.099400
62249                (22630)  (POST, 22629)            0.100257            0.100257  0.053985    0.538462  5.370809  0.043933    1.949443
62244          (POST, 22629)        (22630)            0.100257            0.100257  0.053985    0.538462  5.370809  0.043933    1.949443
62248                (22629)  (POST, 22630)            0.125964            0.074550  0.053985    0.428571  5.748768  0.044594    1.619537
5519                 (22382)        (22662)            0.120823            0.084833  0.051414    0.425532  5.016119  0.041164    1.593069

[84 rows x 9 columns]

In [71]:
for id in [21080,21094,21086]:
    check_id(df_fr,id)
# İlk iki ürün alındığında 3.sünün alınma oranı 0.975000dir

['SET/20 RED RETROSPOT PAPER NAPKINS ']
['SET/6 RED SPOTTY PAPER PLATES']
['SET/6 RED SPOTTY PAPER CUPS']

In [72]:
############################################
# 4. Çalışmanın Scriptini Hazırlama
############################################

In [73]:
# Burda yukarda yaptığımız her şeyi sanki tek bir python dosyasında yazıyormuş gibi yazdık
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit

def retail_data_prep(dataframe):
    dataframe.dropna(inplace=True)
    dataframe = dataframe[~dataframe["Invoice"].str.contains("C", na=False)]
    dataframe = dataframe[dataframe["Quantity"] > 0]
    dataframe = dataframe[dataframe["Price"] > 0]
    replace_with_thresholds(dataframe, "Quantity")
    replace_with_thresholds(dataframe, "Price")
    return dataframe


def create_invoice_product_df(dataframe, id=False):
    if id:
        return dataframe.groupby(['Invoice', "StockCode"])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)
    else:
        return dataframe.groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)


def check_id(dataframe, stock_code):
    product_name = dataframe[dataframe["StockCode"] == stock_code][["Description"]].values[0].tolist()
    print(product_name)


def create_rules(dataframe, id=True, country="France"):
    dataframe = dataframe[dataframe['Country'] == country]
    dataframe = create_invoice_product_df(dataframe, id)
    frequent_itemsets = apriori(dataframe, min_support=0.01, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
    return rules

df = df_.copy()

df = retail_data_prep(df)
rules = create_rules(df)

rules[(rules["support"]>0.05) & (rules["confidence"]>0.1) & (rules["lift"]>5)]. \
sort_values("confidence", ascending=False)

                 antecedents    consequents  antecedent support  consequent support   support  confidence      lift  leverage  conviction
23707         (21080, 21094)        (21086)            0.102828            0.138817  0.100257    0.975000  7.023611  0.085983   34.447301
23706         (21080, 21086)        (21094)            0.102828            0.128535  0.100257    0.975000  7.585500  0.087040   34.858612
108822  (POST, 21080, 21094)        (21086)            0.084833            0.138817  0.082262    0.969697  6.985410  0.070486   28.419023
108820  (POST, 21080, 21086)        (21094)            0.084833            0.128535  0.082262    0.969697  7.544242  0.071358   28.758355
1777                 (21094)        (21086)            0.128535            0.138817  0.123393    0.960000  6.915556  0.105550   21.529563
...                      ...            ...                 ...                 ...       ...         ...       ...       ...         ...
7212                 (22629)        (22630)            0.125964            0.100257  0.071979    0.571429  5.699634  0.059351    2.099400
62249                (22630)  (POST, 22629)            0.100257            0.100257  0.053985    0.538462  5.370809  0.043933    1.949443
62244          (POST, 22629)        (22630)            0.100257            0.100257  0.053985    0.538462  5.370809  0.043933    1.949443
62248                (22629)  (POST, 22630)            0.125964            0.074550  0.053985    0.428571  5.748768  0.044594    1.619537
5519                 (22382)        (22662)            0.120823            0.084833  0.051414    0.425532  5.016119  0.041164    1.593069

[84 rows x 9 columns]

In [74]:
############################################
# 5. Sepet Aşamasındaki Kullanıcılara Ürün Önerisinde Bulunmak
############################################

In [75]:
# Örnek:
# Kullanıcı örnek ürün id: 22492
product_id = 22492
check_id(df, product_id)

['MINI PAINT SET VINTAGE ']

In [78]:
sorted_rules = rules.sort_values("lift", ascending=False)
recommendation_list=[]
for i,product in enumerate(sorted_rules["antecedents"]):
    for j in product:
        if(j==product_id):
            recommendation_list.append(list(sorted_rules.iloc[i]["consequents"])[0])
recommendation_list[0:10]

[22556, 22551, 22326, 22728, 22728, 22326, 22326, 22326, 21080, 22728]

In [79]:
# Yaptıklarımızı fonksiyonlaştıralım
def arl_recommender(rules_df, product_id, rec_count=1):
    sorted_rules = rules_df.sort_values("lift", ascending=False)
    recommendation_list = []
    for i, product in enumerate(sorted_rules["antecedents"]):
        for j in list(product):
            if j == product_id:
                recommendation_list.append(list(sorted_rules.iloc[i]["consequents"])[0])

    return recommendation_list[0:rec_count]
print(arl_recommender(rules, 22492, 1))
print(arl_recommender(rules, 22492, 2))
print(arl_recommender(rules, 22492, 3))

[22556]
[22556, 22551]
[22556, 22551, 22326]